@using Projekat.Models;
@{
    Layout = "~/Views/Shared/_VlasnikLayout.cshtml";
}
@{
    ViewBag.Title = "Pregled Svih Trenera";
}

<h2 class="klasaNaslov">Pregled Svih Trenera</h2>
<p class="klasaUpozorenje">@ViewBag.Message</p>

<table border="1" class="klasa2">
    <tr>
        <th>KorisnickoIme</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Pol</th>
        <th>Email</th>
        <th>DatumRodjenja</th>
    </tr>

    @foreach (Korisnik k in @ViewBag.ListaTrenera)
    {
        <tr>
            <td style="text-align:center">@k.KorisnickoIme</td>
            <td style="text-align:center">@k.Ime</td>
            <td style="text-align:center">@k.Prezime</td>
            <td style="text-align:center">@k.Pol.ToString()</td>
            <td style="text-align:center">@k.Email</td>
            <td style="text-align:center">@k.DatumRodjenja.Year/@k.DatumRodjenja.Month/@k.DatumRodjenja.Day</td>
            <td style="text-align:center"><a href="~/Vlasnik/BlokiranjeTrenera?korisnickoImeTrenera=@k.KorisnickoIme">Blokiraj trenera</a></td>
        </tr>
    }


</table>
