@using Projekat.Models;
@{
    Layout = "~/Views/Shared/_TrenerLayout.cshtml";
}
@{
    ViewBag.Title = "Pregled Proslih Grupnih Treninga";
}

<h2 class="klasaNaslov">Pregled Grupnih Treninga</h2>
<p class="klasaUpozorenje">@ViewBag.Message</p>
<p class="klasaUpozorenje">@ViewBag.Message2</p>
<p class="klasaUpozorenje">@ViewBag.Message3</p>

<table border="1" class="klasa2">
    <tr>
        <th>Naziv</th>
        <th>Tip treninga</th>
        <th>Trajanje treninga</th>
        <th>Datum i vreme treninga</th>
        <th>Maksimalan broj posetilaca</th>
        <th>Ukupan broj prijavljenih posetilaca</th>
    </tr>
    @foreach (GrupniTrening gt in @ViewBag.ListaTreninga)
    {
        <tr>
            <td style="text-align:center">@gt.Naziv</td>
            <td style="text-align:center">@gt.TipTreninga</td>
            <td style="text-align:center">@gt.TrajanjeTreninga</td>
            <td style="text-align:center">@gt.DatumIVremeTreninga</td>
            <td style="text-align:center">@gt.MaksimalanBrojPosetilaca</td>
            <td style="text-align:center">@gt.SpisakPosetilaca.Count</td>
        </tr>
    }
</table>


<h3 class="klasaNaslov"><font style="color:brown">Pretražite ranije treninge</font></h3>
<form action="~/Trener/Pretraga" method="post">
    <table class="klasa1">
        <tr>
            <th>Naziv</th>
            <th>Tip treninga</th>
            <th>Minimalna granica za datum</th>
            <th>Maksimalna granica za datum</th>
        </tr>
        <tr>
            <td style="text-align:center">
                <input type="text" name="naziv" />
            </td>
            <td style="text-align:center">
                <select name="tipTreninga">
                    <option value=""></option>
                    <option>YOGA</option>
                    <option>LESS_MILLS_TONE</option>
                    <option>BODY_PUMP</option>
                </select>
            </td>
            <td style="text-align:center">
                <input type="date" name="minimalnaGranica" />
            </td>
            <td style="text-align:center">
                <input type="date" name="maksimalnaGranica" />
            </td>
            <td class="klasaDugme">
                <input type="submit" value="Pretražite" />
            </td>
        </tr>
    </table>
</form>

<br /><br />


<table class="klasa1">
    <tr>
        <th colspan="2">Sortiraj po nazivu</th>
    </tr>
    <tr>
        <td><a href="~/Trener/SortirajPoNazivuRastuce">RASTUĆE</a></td>
        <td><a href="~/Trener/SortirajPoNazivuOpadajuce">OPADAJUĆE </a></td>
    </tr>
</table>
<br />
<table class="klasa1">
    <tr>
        <th colspan="2">Sortiraj po tipu treninga</th>
    </tr>
    <tr>
        <td><a href="~/Trener/SortirajPoTipuTreningaRastuce">RASTUĆE</a></td>
        <td><a href="~/Trener/SortirajPoTipuTreningaOpadajuce">OPADAJUĆE </a></td>
    </tr>
</table>
<br />
<table class="klasa1">
    <tr>
        <th colspan="2">Sortiraj po datumu i vremenu održavanja</th>
    </tr>
    <tr>
        <td><a href="~/Trener/SortirajPoDatumuRastuce">RASTUĆE</a></td>
        <td><a href="~/Trener/SortirajPoDatumuOpadajuce">OPADAJUĆE </a></td>
    </tr>
</table>

